// 菜单尺寸
$navMenu: 250px;
$navMenuMin: 64px;
$layoutHeader: 75px;
// 菜单动画
$menuTransition: all .3s ease 0s;
//主颜色
$mainColor: #f56c6c;

@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}
@mixin labelDom($align, $width, $line-height: "normal"){
    label {
      float: left;
      width: $width + px;
      text-align: $align;
      line-height: $line-height + px;
    }
    .warp-content {
        margin-left: $width + px;
    }
  }