@import "./normalize.scss";
@import "./config.scss";
@import "./elementui.scss";

// float
.pull-left {
    float: left;
}

// overflow
.overflow-h {
    overflow: hidden;
}

.pull-right {
    float: right;
}

.black-space-30 {
    height: 30px;
}